<%= form_for(@user, url: registers_url, method: :post) do |f| %>
<hr>
    <div class="panel panel-primary bigmshoadow" >
      <div class="panel-heading gradient"><h3><i class="fa fa-user-plus"></i> สร้างบัญชีพนักงาน</h3>  
      </div>
        <div class="panel-body ">
         <div class="form-horizontal">
      
           <div class="form-group">
            <%= f.label "อีเมล์: ", class: "col-sm-2 control-label"%>
          <div class="col-sm-4">
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>

       <div class="form-group">
       	<%= f.label "ร้าน ", class: "col-sm-2 control-label"%>
  		<%= f.collection_select :restuarant_id,Restuarant.all,:id,:restuarant_name %>
  	   </div>

           <div class="form-group">
            	<div class="col-sm-offset-2 col-sm-10">
                	<%= f.submit "สร้างบัญชีพนักงาน",class: "btn btn-success" %>
              	</div>
          </div>  
    	</div> 
  	</div>

<% end %>