<%resource_name.to_s.humanize %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
<hr>
    <div class="panel panel-primary bigmshoadow" >
      <div class="panel-heading gradient"><h3><i class="glyphicon glyphicon-user"></i> เปลี่ยนรหัสผ่าน</h3>  
      </div>
        <div class="panel-body ">
         <div class="form-horizontal">
      
         <!-- <div id="disabledInput"><%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %></div>-->

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>


            <div class="form-group">
              <%= f.label :current_password ,"กรอกรหัสผ่านเดิม :",class: "col-sm-3 control-label"%>
                <div class="col-sm-4">
                  <%= f.password_field :current_password, autocomplete: "off",class: "form-control"  %>
                </div>
            </div>

            <div class="form-group">
              <%= f.label :password,"กรอกรหัสผ่านใหม่ :" ,class: "col-sm-3 control-label"%>
                <div class="col-sm-4">
                  <%= f.password_field :password, autocomplete: "off", autofocus: true , class: "form-control" %>
                 </div>  
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation,"ยืนยันรหัสผ่านใหม่ :",class: "col-sm-3 control-label"%>
                <div class="col-sm-4">
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                </div> 
              </div>


            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-10">
                <div class="actions">
                  <%= f.submit("ยืนยัน", class: "btn btn-success") %>
                  <%= link_to "กลับ", new_user_session_path, class: "btn btn-danger" %>
                </div>
              </div>
            </div>

        </div>    
      </div> 
    </div>   

<% end %>


<!--<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "ยืนยันการลบ" }, method: :delete %></p>

<%= link_to "Back", :back %>
