<center><h4>สรุปยอดสั่งอาหารและเครื่องดื่ม</h4></center>
<hr>
<div class="row">
  <div class="col-sm-4 text-left">
    ร้าน : <%= @table.restuarant.restuarant_name %> <br>
    โต๊ะ : <%= @table.table_number %> <br>
    ชื่อพนักงาน : <%= current_user.name%> <%= current_user.surname%> <br>
    วันที่/เวลา : <%= Time.new %>
  </div>
  
  <div class="col-sm-7 text-right">
    <%= link_to( image_tag("maincash.jpg",width:'100' ,height:'100'),clear_table_menu_list_path,data: { confirm: 'คุณต้องการเคลียโต๊ะ?' }) %>
  </div>
</div>
<hr>

<div ng-controller="Delete_menu">
<div  id="show_dish">
  <div  id="show_dish1">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>รายการอาหาร<h4></div>
        <div class="panel-body">
          <table class="table table-striped" id="show_datal">
            <thead>
            <tr>
              <th>#</th>
              <th>ชื่ออาหาร</th>
              <th>จำนวน</th>
              <th>ราคา/บาท</th>
              <th>เป็นเงิน(บาท)</th>
            </tr>
          </thead>
          <tbody>
              <% @show_dish.each_with_index do |a, i| %>
              <tr>
                <td><%= i + 1 %></td>
                <td><%=a.menu%></td>
                <td><%=a.value%></td>
                <td><%=a.menu_price.to_f %></td>
                <td><%=a.menu_price.to_f * a.value.to_f %></td>
              </tr> 
              <%end%>
               <% i = @show_dish.length %>
               <% @show_dessert.each_with_index do |f| %>
               <tr>
               <td><%= i + 1 %></td>
               <td><%=f.menu%></td>
               <td><%=f.value%></td>
               <td><%=f.menu_price.to_f %></td>
               <td><%=f.menu_price.to_f * f.value.to_f %></td>
               </tr>
               <%end%>
                <% i = @show_dish.length + 1 %>
               <% @show_drink.each_with_index do |d| %>
               <tr>
               <td><%= i + 1 %></td>
               <td><%=d.menu%></td>
               <td><%=d.value%></td>
               <td><%=d.menu_price.to_f%></td>
               <td><%=d.menu_price.to_f * d.value.to_f %></td>               
               </tr>
              <%end%>
              <tr>
              </tr>
              
              </div>  
              </tbody>
          </table>
          <div class = "col-sm-6 col-sm-offset-8">
              รวม <%= @total %> บาท
          </div>
          <div class = "col-sm-6 col-sm-offset-8">
          <% if @promotion_discount.to_i == 0 %>
            ส่วนลด  0%     บาท
          <% else %>  
            ส่วนลด <%= @promotion_discount %> % 
          <%end%>  
          </div>
          <br>
          <div class = "col-sm-6 col-sm-offset-8">
          <% if @promotion_discount.to_i == 0 %>
           รวมสุทธิ <%= @total%>   บาท
          <% else %>  
            รวมสุทธิ <%= @total - @promotion %>  บาท
          <%end%>  
          </div>
        </div>
      </div>
    </div>
 </div>
 <hr>
 