<style>
#doubleUnderline{
border-bottom: 3px double;
}
</style> 

<h3>Printer.css</h3>



<div class="text-center">
ร้าน ผัดไทประตูน้ำ สาขาประเทศไทย <br>
เลขที่99/99 หมู่ที่ 2 <br>
อาคารห้างสรรพสินค้า เซนทรัล ชั้น 9 <br>
ถ.แจ้งวัฒนะ ต.บางตลาด  อ.ปากเกร็ด
จ.นนทบุรี 11120 <br>
TEL: 0878889999 <br>
www.swiftlet.co.th <br>
</div>
<br>

  <div class="text-center">
   Tax ID NO.0105537143215 <br>
   เวลา:<%= Time.now %> <br>
   พนักงาน: <%=current_user.name%> <%=current_user.surname%> <br>
    โต๊ะที่: 1
  </div>

<hr>
<div ng-controller="Delete_menu">
<div  id="show_dish">
  <div  id="show_dish1">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="text-center">ใบเสร็จรับเงิน/ใบกำกับภาษี<h4></div>
        <div class="panel-body">
          <table class="table table-striped" id="show_datal">
            <thead>
            <tr>
              
              <th>ชื่ออาหาร</th>
              <th>จำนวน</th>
              <th>ราคา/บาท</th>
              <th>เป็นเงิน(บาท)</th>
            </tr>
          </thead>
          <tbody>
              <% @show_dish.each_with_index do |a, i| %>
              <tr>
               
                <td><%=a.menu%></td>
                <td><%=a.value%></td>
                <td><%=a.menu_price.to_f %></td>
                <td><%=a.menu_price.to_f * a.value.to_f %></td>
              </tr> 
              <%end%>
               <% i = @show_dish.length %>
               <% @show_dessert.each_with_index do |f| %>
               <tr>
              
               <td><%=f.menu%></td>
               <td><%=f.value%></td>
               <td><%=f.menu_price.to_f %></td>
               <td><%=f.menu_price.to_f * f.value.to_f %></td>
           
               </tr>
               <%end%>
                <% i = @show_dish.length + 1 +@show_dessert.length %>
               <% @show_drink.each_with_index do |d| %>
               <tr>
               <td><%=d.menu%></td>
               <td><%=d.value%></td>
               <td><%=d.menu_price.to_f%></td>
               <td><%=d.menu_price.to_f * d.value.to_f %></td>     
                   
               </tr>
              <%end%>
              <tr>
              </tr>
              
              </div>  
              </tbody>
          </table>
          <div class = "col-sm-6 col-sm-offset-8">
              ค่าอาหาร <%= @total %> บาท
          </div>
          <div class = "col-sm-6 col-sm-offset-8">
          <% if @promotion_discount.to_i == 0 %>
            ส่วนลด  0%     บาท
          <% else %>  
            ส่วนลด <%= @promotion_discount %> % 
          <%end%>  
          </div>
          <div class = "col-sm-6 col-sm-offset-8" >
          Vat 0%
          </div>
          <br>
        <div class = "col-sm-5 col-sm-offset-8" >
          <% if @promotion_discount.to_i == 0 %>
           รวมสุทธิ <%= @total%>   บาท
          <% else %>  
            รวมสุทธิ <%= @total - @promotion %>  บาท
          <%end%>  
          <div class="row">
          <div class="col-sm-6" id="doubleUnderline">
          </div>
          </div>
          </div>
          <div class = "col-sm-6 col-sm-offset-1">
            Cashier : <%=current_user.name%> <%=current_user.surname%>
          </div>

          <div class = "col-sm-11 col-sm-offset-1">
            Cashier Sign : ___________________ 
          </div>

          <div class="row" style="padding-top:3%">
            <div class = "col-sm-6 col-sm-offset-5">
             www.swiftlet.co.th
            </div>

            <div class = "col-sm-6 col-sm-offset-5">
             ขอบคุณที่ใช้บริการ
            </div>
          </div>


        </div>
      </div>
    </div>
 </div>
 <hr>
