<%= form_for(@promotion, url: payment_menu_list_url,method: :get) do |f| %>
<epos-print xmlns="http://www.epson-pos.com/schemas/2011/03/epos-print">

 <hr id="non-printable">
<div class="row" id="non-printable">
  <div class="col-sm-3 text-left">
    <button type="button" class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil-square-o"></i>
      &nbsp;สั่งอาหาร&nbsp;
    </button>
  </div>
  
    <div class ="col-sm-6 text-center" onclick="testpaper()">
      <%= image_tag("print.jpg",width:'120' ,height:'120') %>
    </div> 

    <div class = "col-sm-3" align ="right">
    <%= button_tag( :class => "btn btn-success btn-lg btn-block") do %>
      <i class="fa fa-btc"></i>&nbsp;เช็คบิล 
      <% end %>
    <br>
      <div class = "text-center">
        <%= f.collection_select :promotion_discount,Promotion.where(restuarant_id: current_user.current_restuarant),:promotion_discount,:promotion_name %>
      </div>
    </div> 
    <%end%>                      
</div>
<hr>

<div style="font-size:large; text-align:center;" id="printable">
 ร้าน : <%= @table.restuarant.restuarant_name %> <br>
 โต๊ะ :  <%= @table.table_number %>
  </div> 
<br>

<div  id="printable" ng-controller="Delete_menu">
<div  id="show_dish">
  <div  id="show_dish1">
    <div class="panel panel-info">
      <div class="panel-heading"><h4 style="text-align:center;">เมนูอาหาร<h4></div>
        <div class="panel-body">
         <%= form_for(@promotion, url:  dish_kitchen_kitchens_url,method: :get) do |f| %>
          <table class="table table-striped" id="show_data1">
            <thead>
            <tr>
              <th id="non-printable">Print</th>
              <th id="non-printable">#</th>
              <th>ชื่ออาหาร</th>
              <th>จำนวน</th>
              <th id="non-printable">ราคา/บาท</th>
              <th>รายละเอียด</th>
            </tr>
          </thead>
          <tbody>
              <% @show_dish.each_with_index do |a, i| %>
              <tr>
                <td>
                  <label>
                  <% if a.kitchen_id == nil%>
                  <input checked type="checkbox" name="check_value[]" value="<%= a.id %>" >
                  <%else%>
                  <input type="checkbox" name="check_value[]" value="<%= a.id %>" disabled >
                  <%end%>
                  </label></td>
                <td id="non-printable"><%= i + 1 %></td>
                <td><%=a.menu%></td>
                <td><%=a.value%></td>
                <td id="non-printable"><%=a.menu_price.to_f*a.value.to_f %></td>
                <td><%=a.remark%></td>
                <% if a.cancle == true%>
                  <td class="text-right"><font color =red>ยกเลิก</font></td>
                <%else%>
                  <td class="text-right"><%= link_to cancle_menu_list_path(a), method: :get, data:{ confirm: 'ต้องการยกเลิกอาหารนี้?' }, 
                class: 'btn btn-danger' do %><i class="fa fa-times" ></i>
                <%end%></td>
                <%end%>  
              </tr>
              </div>
              <%end%>
              </tbody>
          </table>
            <%= button_tag( :class => "btn btn-info btn-lg btn-block", :target=>"_blank" ) do %>
            <i class="fa fa-print"></i>&nbsp;Print
            <% end %>
          <%end%> 
        </div>
      </div>
    </div>
 </div>
<hr>


<div  id="show_drink">
  <div  id="show_drink1">
    <div class="panel panel-info">
      <div class="panel-heading"><h4 style="text-align:center;">เครื่องดื่ม<h4></div>
        <div class="panel-body">
         <%= form_for(@promotion, url:  drinking_kitchen_kitchens_url,method: :get) do |f| %>
          <table class="table table-striped" id="show_data1">
            <thead>
            <tr>
              <th id="non-printable">Print</th>
              <th id="non-printable">#</th>
              <th>ชื่ออาหาร</th>
              <th>จำนวน</th>
              <th id="non-printable">ราคา/บาท</th>
              <th>รายละเอียด</th>
            </tr>
          </thead>
          <tbody>
              <% @show_drink.each_with_index do |a, i| %>
              <tr >
                <td>
                  <label>
                  <% if a.kitchen_id == nil%>
                  <input  checked type="checkbox" name="check_value[]" value="<%= a.id %>" >
                  <%else%>
                  <input type="checkbox" name="check_value[]" value="<%= a.id %>" disabled>
                  <%end%>
                  </label></td>
                <td id="non-printable"><%= i + 1 %></td>
                <td><%=a.menu%></td>
                <td><%=a.value%></td>
                <td id="non-printable"><%=a.menu_price.to_f*a.value.to_f%></td>
                <td><%=a.remark%></td>
                <% if a.cancle == true%>
                  <td class="text-right"><font color =red>ยกเลิก</font></td>
                <%else%>
                  <td class="text-right"><%= link_to cancle_menu_list_path(a), method: :get, data:{ confirm: 'ต้องการยกเลิกอาหารนี้?' }, 
                class: 'btn btn-danger' do %><i class="fa fa-times" ></i>
                <%end%></td>
                <%end%>               
              </tr>
              <%end%>
              </tbody>
          </table>
            <%= button_tag( :class => "btn btn-info btn-lg btn-block", :target=>"_blank" ) do %>
            <i class="fa fa-print"></i>&nbsp;Print
            <% end %>
          <%end%> 
        </div>
      </div>
    </div>
 </div>   
<hr>

 <div  id="show_dessert">
  <div  id="show_dessert1">
    <div class="panel panel-info">
      <div class="panel-heading"><h4 style="text-align: center;">อาหารหวาน<h4></div>
        <div class="panel-body">
          <%= form_for(@promotion, url:  dessert_kitchen_kitchens_url,method: :get) do |f| %>
          <table class="table table-striped" id="show_data1">
            <thead>
            <tr>
              <th id="non-printable">Print</th>
              <th id="non-printable">#</th>
              <th>ชื่ออาหาร</th>
              <th>จำนวน</th>
              <th id="non-printable">ราคา/บาท</th>
              <th>รายละเอียด</th>
            </tr>
          </thead>
          <tbody>
              <% @show_dessert.each_with_index do |a, i| %>
              <tr >
                <td>
                  <label>
                  <% if a.kitchen_id == nil%>
                  <input checked type="checkbox" name="check_value[]" value="<%= a.id %>" >
                  <%else%>
                  <input type="checkbox" name="check_value[]" value="<%= a.id %>" disabled>
                  <%end%>
                  </label></td>
                <td id="non-printable"><%= i + 1 %></td>
                <td><%=a.menu%></td>
                <td><%=a.value%></td>
                <td id="non-printable"><%=a.menu_price.to_f*a.value.to_f%></td>
                <td><%=a.remark%></td>
                <% if a.cancle == true%>
                  <td class="text-right"><font color =red>ยกเลิก</font></td>
                <%else%>
                  <td class="text-right"><%= link_to cancle_menu_list_path(a), method: :get, data:{ confirm: 'ต้องการยกเลิกอาหารนี้?' }, 
                class: 'btn btn-danger' do %><i class="fa fa-times" ></i>
                <%end%></td>
                <%end%>  
              </tr>
              <%end%>
              </tbody>
          </table>
            <%= button_tag( :class => "btn btn-info btn-lg btn-block", :target=>"_blank" ) do %>
            <i class="fa fa-print"></i>&nbsp;Print
            <% end %>
          <%end%>           
        </div>
      </div>
    </div>
    </div>
  </div>

<div id="non-printable">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">เลือกอาหาร</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default listingshoadow">
          <div role="tabpanel">
            <ul class="nav nav-tabs  nav-justified gradient1 border-listing " role="tablist">
              <li role="presentation" class="active"><a href="#carousel" aria-controls="carousel" role="tab" data-toggle="tab">เมนูอาหาร  </a></li>
              <li role="presentation"><a href="#banner_search" aria-controls="banner_search" role="tab" data-toggle="tab">อาหารหวาน</a></li>
              <li role="presentation"><a href="#banner_listing" aria-controls="banner_listing" role="tab" data-toggle="tab">เครื่องดื่ม</a></li>
            </ul>
            </br>
            <div class="tab-content ">
              <div role="tabpanel" class="tab-pane active" id="carousel">
                <form class="form-horizontal">

                  <div ng-controller="ListingController" >   
                    <div class="form-group"> 
                      <label class="col-sm-2 control-label" >ชื่อเมนู : </label>
                      <div class="col-sm-5" >
                        <ui-select ng-model="dish.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false"  >
                          <ui-select-match  placeholder="ชื่อเมนู..." >{{$select.selected.dish_name || "อาหารคาว" }}
                          </ui-select-match>
                          <ui-select-choices repeat="dish in dishs" refresh="refreshAddresses($select.search)" refresh-delay="0">
                            <div>{{dish.dish_name}}</div>
                          </ui-select-choices>
                        </ui-select> 
                      </div>
                      <input type="hidden" ng-model="dish.selected.dish_name"  ng-value="dish.selected.dish_name" />
                       <input type="hidden" ng-model="dish.selected.dish_price"  ng-value="dish.selected.dish_price" />
                      <div class="col-sm-2" >
                        <div class="input-group">
                          <input type="number" class="form-control" id="exampleInputAmount" ng-model="menu.value"/>
                          <div class="input-group-addon">จาน</div>
                        </div>
                      </div> <label class=" control-label" >ราคา : </label> {{dish.selected.dish_price}}                      
                    </div>
                    <div class="form-group"> 
                      <label class="col-sm-2 control-label" >Remark : </label>
                      <div class="col-sm-7" >
                        <textarea class="form-control"  ng-model="menu.remark" rows="3"></textarea>
                      </div>  
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-success" ng-click="menu_dish()" >ยืนยัน</button>
                      </div>  
                    </div>
                           
                </form>
              </div>
          </div>
              <div role="tabpanel" class="tab-pane" id="banner_search">
                <form class="form-horizontal">
                  <div ng-controller="ListingController1" > 
                    <div class="form-group"> 
                      <label class="col-sm-2 control-label" >ชื่อเมนู : </label>
                      <div class="col-sm-5" >
                        <ui-select ng-model="dessert.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false"  >
                          <ui-select-match  placeholder="ชื่อเมนู..." >{{$select.selected.dessert_name || "อาหารหวาน" }}
                          </ui-select-match>
                          <ui-select-choices repeat="dessert in desserts" refresh="refreshAddresses($select.search)" refresh-delay="0">
                            <div>{{dessert.dessert_name}}</div>
                          </ui-select-choices>
                        </ui-select> 
                      </div>
                      <input type="hidden" ng-model="dessert.selected.dessert_name"  ng-value="dessert.selected.dessert_name" />
                       <input type="hidden" ng-model="dessert.selected.dessert_price"  ng-value="dessert.selected.dessert_price" />
                      <div class="col-sm-2" >
                        <div class="input-group">
                          <input type="number" class="form-control" id="exampleInputAmount" ng-model="menu.value"/>
                          <div class="input-group-addon">จาน</div>
                        </div>
                      </div> <label class=" control-label" >ราคา : </label> {{dessert.selected.dessert_price}}                      
                    </div>
                    <div class="form-group"> 
                      <label class="col-sm-2 control-label" >Remark : </label>
                      <div class="col-sm-7" >
                        <textarea class="form-control"  ng-model="menu.remark" rows="3"></textarea>
                      </div>  
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-success" ng-click="menu_dessert()">ยืนยัน</button>
                      </div>  
                    </div>
                          
                  </div>  
                </form>
              </div>

              <div role="tabpanel" class="tab-pane" id="banner_listing">
                <form class="form-horizontal">
                  <div ng-controller="ListingController2" >   
                    <div class="form-group"> 
                      <label class="col-sm-2 control-label" >ชื่อเมนู : </label>
                      <div class="col-sm-5" >
                        <ui-select ng-model="drinking.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false"  >
                          <ui-select-match  placeholder="ชื่อเมนู..." >{{$select.selected.drinking_name || "เครื่องดื่ม" }}
                          </ui-select-match>
                          <ui-select-choices repeat="drinking in drinkings" refresh="refreshAddresses($select.search)" refresh-delay="0">
                            <div>{{drinking.drinking_name}}</div>
                          </ui-select-choices>
                        </ui-select> 
                      </div>
                      <input type="hidden" ng-model="drinking.selected.drinking_name"  ng-value="drinking.selected.drinking_name" />
                       <input type="hidden" ng-model="drinking.selected.drinking_price"  ng-value="drinking.selected.drinking_price" />
                      <div class="col-sm-2" >
                        <div class="input-group">
                          <input type="number" class="form-control" id="exampleInputAmount" ng-model="menu.value"/>
                          <div class="input-group-addon">หน่วย</div>
                        </div>
                      </div> <label class=" control-label" >ราคา : </label> {{drinking.selected.drinking_price}}                      
                    </div>
                    <div class="form-group"> 
                      <label class="col-sm-2 control-label" >Remark : </label>
                      <div class="col-sm-7" >
                        <textarea class="form-control"  ng-model="menu.remark" rows="3"></textarea>
                      </div>  
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-success" ng-click="menu_drinking()">ยืนยัน</button>
                      </div>  
                    </div>  
                  </div>
                </form>
              </div>
          
            </div>
          </div>  
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"> ปิด </button>
      </div>
  </div>
    </div>
  </div>
</div>
<hr>
<input type="hidden" id="table_id" value="<%= @table.id.to_json %>"/>
<input type="hidden" id="dish_json" value="<%= @table.id.to_json %>">  
<input type="hidden" id="dessert_json" value="<%= @table.id.to_json %>">  

<input type="hidden" id="drinking_json" value="<%= @table.id.to_json %>">  








<!-- 
<script type="text/javascript">

function printTest(){
var canvas = document.getElementById('canvas');
var context = canvas.getContext('2d');
var address = 'http://192.168.0.26./cgi-bin/epos/service.cgi?devid=local_printer&timeout=60000';

var builder = new epson.ePOSBuilder();
builder.addTextAlign(builder.ALIGN_CENTER);
builder.addText('Swiftlet.co.th');
builder.addFeedLine(3);
builder.addCut(builder.CUT_FEED);

var epos = new epson.ePOSPrint(address);
epos.onreceive = function (res) { alert(res.success); };
epos.onerror = function (err) { alert(err.status); };
epos.oncoveropen = function () { alert('coveropen'); };
epos.send(builder.toString());
}
</script>


<canvas id="canvas"> 
</canvas> -->




  <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>ePOS-Print</title>

<script type="text/javascript">
<!--
    $(function () {

        // Button
        $('#ticket, #coupon, #label').button();
        $('#setting').button({
            icons: {
                primary: "ui-icon-gear"
            }
        });

        // Setting Dialog
        $('#dialog').dialog({
            autoOpen: false,
            width: 420,
            buttons: {
                "OK": function () {
                    ipaddr = $('#ipaddr').val();
                    devid = $('#devid').val();
                    timeout = $('#timeout').val();
                    grayscale = $('#grayscale').is(':checked');
                    layout = $('#layout').is(':checked');
                    $(this).dialog("close");
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            },
            show: "fade",
            hide: "drop",
            draggable: true,
            resizable: false,
            modal: true
        });

        // Printing Dialog
        $('#print').dialog({
            autoOpen: false,
            width: 320,
            show: "fade",
            hide: "drop",
            draggable: true,
            resizable: false,
            modal: true
        });

        // Error Dialog
        $('#receive, #error').dialog({
            autoOpen: false,
            width: 480,
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                }
            },
            show: "fade",
            hide: "drop",
            draggable: true,
            resizable: false,
            modal: true
        });

    });

    // Open Setting Dialog
    function openDialog() {
        $('#ipaddr').val(ipaddr);
        $('#devid').val(devid);
        $('#timeout').val(timeout);
        $('#grayscale').get(0).checked = grayscale;
        $('#layout').get(0).checked = layout;
        $('#dialog').dialog('open');

        console.log ("Setup Print jaaaaaaaaaaaaaaaaaaaaaaaaa")
    }

    // Settings
    var ipaddr = '192.168.0.26';
    var devid = 'local_printer';
    var timeout = '60000';
    var grayscale = false;
    var layout = false;

    // Queue Ticket Sequence Number
    var sequence = 1;

    // Coupon Serial Number
    var serial = 12301;

    // Item Code
    var code = 2012001;

//-->
</script>
</head>

<body>
    
            <p><button id="setting" onclick="openDialog()">Settings</button></p>
            <p>&nbsp;</p>
        
  <!-- ui-dialog -->    
  <div id="dialog" title="Settings">
        <p>IP address of ePOS-Print supported printer<br />
        <input id="ipaddr" type="text"></p>
        <p>Device ID of the target printer<br />
        <input id="devid" type="text"></p>
        <p>Print timeout (milliseconds)<br />
        <input id="timeout" type="text"></p>
        <p><input id="grayscale" type="checkbox">Print in grayscale (Coupon)<br />
        &nbsp;&nbsp;&nbsp;&nbsp;(Only for supported models)</p>
        <p><input id="layout" type="checkbox">Set the paper layout (Label)<br />
        &nbsp;&nbsp;&nbsp;&nbsp;(Only for TM-P60II)</p>
  </div>

  <!-- ui-dialog -->
  <div id="print" title="Information">
        <h2>Printing ...</h2>
  </div>

  <!-- ui-dialog -->
  <div id="receive" title="Error">
        <p>Print error occured.</p>
  </div>

  <!-- ui-dialog -->
  <div id="error" title="Error">
        <p>Network error occured.</p>
  </div>

    <!-- background -->
    <div style="display:none;">
        <canvas id="canvas" width="512" height="480"></canvas>
        <div id="coffee">
        sdkfjsdjlsdjf;lsdjf
        ksdljfsjdljsljfsd
        </div>

    </div>
</body>

