<div class="row">
  <div class="col-sm-6">
    <font size = "+3">รายการอาหาร
    </font>
  </div>
  <div class="col-sm-6 text-right">
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil-square-o"></i>
      สั่งอาหาร
    </button>
  </div>
 </div> 
<hr>

<div ng-controller="Delete_menu">
<div  id="show_dish">
  <div  id="show_dish1">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>ราการอาหารคาว<h4></div>
        <div class="panel-body">
          <table class="table table-striped" id="show_data1">
            <thead>
            <tr>
              <th>#</th>
              <th>ชื่ออาหาร</th>
              <th>จำนวน</th>
              <th>ราคา/บาท</th>
              <th>รายละเอียด</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <% @show_dish.each_with_index do |a, i| %>
              <tr>
                <td><%= i + 1 %></td>
                <td><%=a.menu%></td>
                <td><%=a.value%></td>
                <td><%=a.menu_price.to_f*a.value.to_f%></td>
                <td><%=a.remark%></td>
                <td class="text-right">
                <%= link_to edit_menu_list_path(a), class: 'btn btn-primary' do %><i class="fa fa-pencil-square-o" ></i>เเก้ไข
                    <%end%>                
                <%= link_to menu_list_path(a), method: :delete, data: { confirm: 'ยืนยันการลบ' }, 
                class: 'btn btn-danger' do %><i class="fa fa-trash-o" ></i> ลบ
                    <%end%></td>
                <!-- <td class="text-right"><button type="button" class="btn btn-danger" ng-click="delete('<%=a._id.to_s%>')" ng-confirm-click="ยืนยันการลบ" ><i class="fa fa-trash-o "></i> ลบ </button></td> -->
              </tr>
              </div>
              <%end%>
              </tbody>
          </table>
        </div>
      </div>
    </div>
 </div>




<div  id="show_drink">
  <div  id="show_drink1">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>เครื่องดื่ม<h4></div>
        <div class="panel-body">
          <table class="table table-striped" id="show_data1">
            <thead>
            <tr>
              <th>#</th>
              <th>ชื่ออาหาร</th>
              <th>จำนวน</th>
              <th>ราคา/บาท</th>
              <th>รายละเอียด</th>

            </tr>
          </thead>
          <tbody>
              <% @show_drink.each_with_index do |a, i| %>
              <tr >
                <td><%= i + 1 %></td>
                <td><%=a.menu%></td>
                <td><%=a.value%></td>
                <td><%=a.menu_price.to_f*a.value.to_f%></td>
                <td><%=a.remark%></td>
                <td class="text-right">
                <%= link_to edit_menu_list_path(a), class: 'btn btn-primary' do %><i class="fa fa-pencil-square-o" ></i>เเก้ไข
                    <%end%> 
                <%= link_to menu_list_path(a), method: :delete, data: { confirm: 'ยืนยันการลบ' }, 
                class: 'btn btn-danger' do %><i class="fa fa-trash-o" ></i> ลบ
                    <%end%></td>                
<!--                 <td class="text-right"><a type="button" class="btn btn-danger" ng-click="delete('<%=a._id%>')"ng-confirm-click="ยืนยันการลบ" ><i class="fa fa-trash-o "></i> ลบ </a></td> -->                
              </tr>
              <%end%>
              </tbody>
          </table>
        </div>
      </div>
    </div>
 </div>   


 <div  id="show_dessert">
  <div  id="show_dessert1">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>ราการอาหารหวาน<h4></div>
        <div class="panel-body">
          <table class="table table-striped" id="show_data1">
            <thead>
            <tr>
              <th>#</th>
              <th>ชื่ออาหาร</th>
              <th>จำนวน</th>
              <th>ราคา/บาท</th>
              <th>รายละเอียด</th>

            </tr>
          </thead>
          <tbody>
              <% @show_dessert.each_with_index do |a, i| %>
              <tr >
                <td><%= i + 1 %></td>
                <td><%=a.menu%></td>
                <td><%=a.value%></td>
                <td><%=a.menu_price.to_f*a.value.to_f%></td>
                <td><%=a.remark%></td>
                <td class="text-right">
                <%= link_to edit_menu_list_path(a), class: 'btn btn-primary' do %><i class="fa fa-pencil-square-o" ></i>เเก้ไข
                    <%end%>                 
                <%= link_to menu_list_path(a), method: :delete, data: { confirm: 'ยืนยันการลบ' }, 
                class: 'btn btn-danger' do %><i class="fa fa-trash-o" ></i> ลบ
                    <%end%></td>                
<!--                 <td class="text-right"><a type="button" class="btn btn-danger" ng-click="delete('<%=a._id%>')"ng-confirm-click="ยืนยันการลบ" ><i class="fa fa-trash-o "></i> ลบ </a></td>     -->            
              </tr>
              <%end%>
              </tbody>
          </table>
        </div>
      </div>
    </div>
 </div>
  </div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">เลือกอาหาร</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default listingshoadow">
          <div role="tabpanel">
            <ul class="nav nav-tabs  nav-justified gradient1 border-listing " role="tablist">
              <li role="presentation" class="active"><a href="#carousel" aria-controls="carousel" role="tab" data-toggle="tab">อาหารคาว</a></li>
              <li role="presentation"><a href="#banner_search" aria-controls="banner_search" role="tab" data-toggle="tab">อาหารหวาน</a></li>
              <li role="presentation"><a href="#banner_listing" aria-controls="banner_listing" role="tab" data-toggle="tab">เครื่องดื่ม</a></li>
            </ul>
            </br>
            <div class="tab-content ">
              <div role="tabpanel" class="tab-pane active" id="carousel">
                <form class="form-horizontal">

                  <div ng-controller="ListingController" >   
                    <div class="form-group"> 
                      <label class="col-sm-2 control-label" >ชื่อเมนู : </label>
                      <div class="col-sm-5" >
                        <ui-select ng-model="dish.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false"  >
                          <ui-select-match  placeholder="ชื่อเมนู..." >{{$select.selected.dish_name || "อาหารคาว" }}
                          </ui-select-match>
                          <ui-select-choices repeat="dish in dishs" refresh="refreshAddresses($select.search)" refresh-delay="0">
                            <div>{{dish.dish_name}}</div>
                          </ui-select-choices>
                        </ui-select> 
                      </div>
                      <input type="hidden" ng-model="dish.selected.dish_name"  ng-value="dish.selected.dish_name" />
                       <input type="hidden" ng-model="dish.selected.dish_price"  ng-value="dish.selected.dish_price" />
                      <div class="col-sm-2" >
                        <div class="input-group">
                          <input type="number" class="form-control" id="exampleInputAmount" ng-model="menu.value"/>
                          <div class="input-group-addon">จาน</div>
                        </div>
                      </div> <label class=" control-label" >ราคา : </label> {{dish.selected.dish_price}}                      
                    </div>
                    <div class="form-group"> 
                      <label class="col-sm-2 control-label" >Remark : </label>
                      <div class="col-sm-7" >
                        <textarea class="form-control"  ng-model="menu.remark" rows="3"></textarea>
                      </div>  
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary" ng-click="menu_dish()" >ยืนยัน</button>
                      </div>  
                    </div>
                          
                  </div>  
                </form>
              </div>

              <div role="tabpanel" class="tab-pane" id="banner_search">
                <form class="form-horizontal">
                  <div ng-controller="ListingController1" > 
                    <div class="form-group"> 
                      <label class="col-sm-2 control-label" >ชื่อเมนู : </label>
                      <div class="col-sm-5" >
                        <ui-select ng-model="dessert.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false"  >
                          <ui-select-match  placeholder="ชื่อเมนู..." >{{$select.selected.dessert_name || "อาหารหวาน" }}
                          </ui-select-match>
                          <ui-select-choices repeat="dessert in desserts" refresh="refreshAddresses($select.search)" refresh-delay="0">
                            <div>{{dessert.dessert_name}}</div>
                          </ui-select-choices>
                        </ui-select> 
                      </div>
                      <input type="hidden" ng-model="dessert.selected.dessert_name"  ng-value="dessert.selected.dessert_name" />
                       <input type="hidden" ng-model="dessert.selected.dessert_price"  ng-value="dessert.selected.dessert_price" />
                      <div class="col-sm-2" >
                        <div class="input-group">
                          <input type="number" class="form-control" id="exampleInputAmount" ng-model="menu.value"/>
                          <div class="input-group-addon">จาน</div>
                        </div>
                      </div> <label class=" control-label" >ราคา : </label> {{dessert.selected.dessert_price}}                      
                    </div>
                    <div class="form-group"> 
                      <label class="col-sm-2 control-label" >Remark : </label>
                      <div class="col-sm-7" >
                        <textarea class="form-control"  ng-model="menu.remark" rows="3"></textarea>
                      </div>  
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary" ng-click="menu_dessert()">ยืนยัน</button>
                      </div>  
                    </div>
                          
                  </div>  
                </form>
              </div>

              <div role="tabpanel" class="tab-pane" id="banner_listing">
                <form class="form-horizontal">
                  <div ng-controller="ListingController2" >   
                    <div class="form-group"> 
                      <label class="col-sm-2 control-label" >ชื่อเมนู : </label>
                      <div class="col-sm-5" >
                        <ui-select ng-model="drinking.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false"  >
                          <ui-select-match  placeholder="ชื่อเมนู..." >{{$select.selected.drinking_name || "เครื่องดื่ม" }}
                          </ui-select-match>
                          <ui-select-choices repeat="drinking in drinkings" refresh="refreshAddresses($select.search)" refresh-delay="0">
                            <div>{{drinking.drinking_name}}</div>
                          </ui-select-choices>
                        </ui-select> 
                      </div>
                      <input type="hidden" ng-model="drinking.selected.drinking_name"  ng-value="drinking.selected.drinking_name" />
                       <input type="hidden" ng-model="drinking.selected.drinking_price"  ng-value="drinking.selected.drinking_price" />
                      <div class="col-sm-2" >
                        <div class="input-group">
                          <input type="number" class="form-control" id="exampleInputAmount" ng-model="menu.value"/>
                          <div class="input-group-addon">หน่วย</div>
                        </div>
                      </div> <label class=" control-label" >ราคา : </label> {{drinking.selected.drinking_price}}                      
                    </div>
                    <div class="form-group"> 
                      <label class="col-sm-2 control-label" >Remark : </label>
                      <div class="col-sm-7" >
                        <textarea class="form-control"  ng-model="menu.remark" rows="3"></textarea>
                      </div>  
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary" ng-click="menu_drinking()">ยืนยัน</button>
                      </div>  
                    </div>
                          
                  </div>  
                </form>
              </div>
          
            </div>
          </div>  
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"> ปิด ห</button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="table_id" value="<%= @table.id.to_json %>"/>
<input type="hidden" id="dish_json" value="<%= @table.id.to_json %>">  
<input type="hidden" id="dessert_json" value="<%= @table.id.to_json %>">  

<input type="hidden" id="drinking_json" value="<%= @table.id.to_json %>">  

