<%= form_for(@waiter) do |f| %>
  <% if @waiter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@waiter.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @waiter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label "ชื่อ:" %><br>
    <%= f.text_field :waiter_name %>
  </div>

  <div class="field">
    <%= f.label "นามสกุล:" %><br>
    <%= f.text_field :waiter_surname %>
  </div>


  <div class="field">
    <%= f.label "เบอร์โทร:" %><br>
    <%= f.text_field :waiter_tel %>

  <div class="field">
    <%= f.label "อีเมล" %><br>
    <%= f.text_field :waiter_email %>
  </div>
  
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
