<h1>ร้านของคุณ</h1>

<body>
        <div class="container">
                <div class="panel bg-body">

                    <div class="panel-heading bg-header">
                        <div class="text-right"> 
                       <%= link_to new_restuarant_path, class: "btn btn-warning" do %> <i class="fa fa-search-plus"></i> เปิดร้านใหม่
                       <%end%>

                    </div>


                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ลำดับ</th>
                                <th>ร้านค้า</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                                <% @restuarants.each_with_index do |a, i| %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%=a.restuarant_name%></td>
                                <td>
                                    
                                    <%= link_to "เข้าสู่ร้าน", restuarant_path(a), class: "btn btn-success" %>
                                    <i class="fa fa-ellipsis-v"></i>
                                    <%= link_to "จัดการร้านค้า", edit_restuarant_path(a), class: "btn btn-primary" %>
                                    <i class="fa fa-ellipsis-v"></i>
                                    <%= link_to 'ลบร้านค้า', restuarant_path(a), class: "btn btn-danger" , method: :delete, data: { confirm: 'คุณต้องการลบ?' }  %>
                                    <i class="fa fa-ellipsis-v"></i>
                                    <%= link_to "รายชื่อพนักงาน", staff_restuarant_path(a), class: "btn btn-warning" %>

                                    <%= link_to "เพิ่มพนักงาน",  add_staff_restuarant_path(a), class: "btn btn-info" %>
                                     
                                    <%end%>

                                </td>
                            </tr>
                            <tr>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        
    </body>
</html>
</body>






