<%= form_for(@restuarant, url: restuarants_path) do |f| %>

   
<div class="panel panel-primary" >
        <div class="panel-heading gradient"><h3><i class="glyphicon glyphicon-home"></i> แบบฟอร์มสร้างร้านใหม่ </h3>  
      </div>
        <div class="panel-body ">
          <div class="form-horizontal">
      
            <div class="form-group">
                <%= f.label :restuarant_name,"ชื่อร้าน:",class: "col-sm-2 control-label"%>
                <div class="col-sm-4">
                  <%= f.text_field :restuarant_name, class: "form-control"%>
                  <%= f.hidden_field :user_id, :value => current_user.id %>
                  <%= f.hidden_field :restuarant_owner, :value => current_user.name %>
                </div>
              </div>

             <div class="form-group">
                <%= f.label :legal_person ,"ชื่อนิติบุคคล:",class: "col-sm-2 control-label"%>
                <div class="col-sm-4">
                  <%= f.text_field :legal_person, :value => (current_user.name + " " + current_user.surname)  ,class: "form-control"%>
                 </div>
            </div>

              <div class="form-group">
                <%= f.label :restuarant_tel ,"เบอร์โทรศัพท์:",class: "col-sm-2 control-label"%>
                <div class="col-sm-4">
                  <%= f.text_field :restuarant_tel,  class: "form-control"%>
                </div>
              </div>

                <div class="form-group">
                <%= f.label :tax_id ,"เลขประจำตัวผู้เสียภาษี:",class: "col-sm-2 control-label"%>
                <div class="col-sm-4">
                  <%= f.text_field :tax_id,  class: "form-control"%>
                </div>
              </div>

               <div class="form-group">
                <%= f.label :branch_id,"รหัสสาขา:",class: "col-sm-2 control-label"%>
                <div class="col-sm-4">
                  <%= f.text_field :branch_id,  class: "form-control"%>
                </div>
              </div>

                <div class="form-group">
                <%= f.label :restuarant_address ,"ที่อยู่ร้าน:",class: "col-sm-2 control-label"%>
                <div class="col-sm-4">
                  <%= f.text_area  :restuarant_address,  class: "form-control"%>
                </div>
              </div>


            <div ng-controller = "ProvinceController">
              <div class="form-group">  
                <label class="col-sm-2 control-label">จังหวัด : </label>
                  <div class="col-sm-5" >
                   <ui-select ng-model="province.selected" theme="select2" ng-disabled="" style="min-width: 300px;"  on-select="selecte_province($item)">
                    <ui-select-match placeholder="ระบุจังหวัด...">{{$select.selected.province_name|| "ระบุจังหวัด..." }}</ui-select-match>
                      <ui-select-choices repeat="province in provinces | propsFilter: {province_name: $select.search}">
                        <div  ng-bind-html="province.province_name "></div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
              </div>

              <input type="hidden"  name="restuarant[province]" ng-model="province.selected.province_name" ng-value="province.selected.province_name" />

              <div class="form-group">  
                <label class="col-sm-2 control-label">เขต/อำเภอ : </label>
                  <div class="col-sm-5">
                   <ui-select ng-model="county.selected" theme="select2" ng-disabled="" style="min-width: 300px;"  on-select="selecte_county($item)">
                    <ui-select-match placeholder="ระบุเขต/อำเภอ...">{{$select.selected.county_name }}</ui-select-match>
                      <ui-select-choices repeat="county in counties | propsFilter: {county_name: $select.search}">
                        <div ng-bind-html="county.county_name "></div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
              </div>

              <input type="hidden"  name="restuarant[county]" ng-model="county.selected.county_name" ng-value="county.selected.county_name" />

              <div class="form-group">  
                <label class="col-sm-2 control-label">แขวง/ตำบล : </label>
                  <div class="col-sm-5">
                   <ui-select ng-model="district.selected" theme="select2" ng-disabled="" style="min-width: 300px;">
                    <ui-select-match placeholder="ระบุแขวง/ตำบล...">{{$select.selected.district_name}}</ui-select-match>
                      <ui-select-choices repeat="district in districts | propsFilter: {district_name: $select.search}">
                        <div ng-bind-html="district.district_name "></div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
              </div>

              <input type="hidden"  name="restuarant[district]" ng-model="district.selected.district_name" ng-value="district.selected.district_name" />

            </div>
         
               
                  <div class="col-sm-6">
                  <p class="text-center">
                      <%= submit_tag "ตกลง", class: "btn btn-success" %>
                      <%= link_to "กลับ", restuarants_path, class: "btn btn-danger" %>
                  </p>
                  </div>
          </div>  
        </div>    
   </div>
            
   <%end%>
   