<%= form_for(@table, url: tables_url, method: :post) do |f| %>    
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        เพิ่มโต๊ะ
      </div>
      <div class="modal-body">
          <div class="form-horizontal">
      
            <div class="form-group">
              <label>จำนวนโต๊ะที่ต้องการ</label>
                <div class="col-sm-4">
                  <input type = "number" name="table" min="1" max="10" class="form-control" value="1">  </div>
            </div>
 
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="actions">
                  <%= f.submit("ยืนยัน", class: "btn btn-success") %>
                   <button type="button" class="btn btn-danger" data-dismiss="modal"> ปิด </button>
                </div>
              </div>
            </div>

          </div>       
      </div>

  </div>
</div>    
</div> 
<%end%>
<div class="row">
  <div  class="col-sm-4 text-left">
           <h3>ร้าน : <%= @restuarant_show.restuarant_name %></h3>
  </div>     
  <div class="col-sm-8 text-right">
          <h4><%= Time.now %></h4>
          <h4>พนักงาน :<%=current_user.name%> <%=current_user.surname%></h4>
  </div>
</div>
<hr>
    <% @table_show.each_with_index do |a, i| %>
      <div class="col-sm-3 text-center">
        <div>
        <button class="btn btn-info" type="button">
           โต๊ะที่ <span class="badge"><%= a.table_number %></span>
        </button>
        </div>
        <p>
        </p>  
        <%=link_to( image_tag("table1.png",width:'140' ,height:'120'), menu_list_path(a)) %><br>
        <p>
        </p>
        <% if current_user.super_user? %>
         <%= link_to table_path(a), method: :delete, data: { confirm: 'ยืนยันการลบ' }, 
                class: 'btn btn-danger' do %><i class="fa fa-trash-o" ></i> ลบ
                    <%end%>
        <%end%>
       
        <hr>                  
      </div>  
    <%end%> 