
<div><%= @restuarant.restuarant_name %> </div>

<h2> Layout Table </h2>


<body>

 <div class="container">
            <div class="col-md-2" ><a href="order.html"><div class="bg-info" style="height: 130px">A1</div></a></div>
            <div class="col-md-2" ><div class="bg-info" style="height: 130px">A2</div></div>
            <div class="col-md-2" ><div class="bg-info" style="height: 130px">A3</div></div>
            <div class="col-md-2" ><div class="bg-info" style="height: 130px">A4</div></div>
            <div class="col-md-2" ><div class="bg-info" style="height: 130px">A5</div></div>
            <div class="col-md-2" ><div class="bg-info" style="height: 130px">A6</div></div>
        </div>
        <br>
        <div class="container">
            <div class="col-md-2" ><div class="bg-info" style="height: 130px">B1</div></div>
            <div class="col-md-2" ><div class="bg-info" style="height: 130px">B2</div></div>
            <div class="col-md-2" ><div class="bg-info" style="height: 130px">B3</div></div>
            <div class="col-md-2" ><div class="bg-info" style="height: 130px">B4</div></div>
            <div class="col-md-2" ><div class="bg-info" style="height: 130px">B5</div></div>
            <div class="col-md-2" ><div class="bg-info" style="height: 130px">B6</div></div>
        </div>
        <br>
        <div class="container">
            <div class="col-md-2" ><div class="bg-info" style="height: 130px">C1</div></div>
            <div class="col-md-2" ><div class="bg-info" style="height: 130px">C2</div></div>
            <div class="col-md-2" ><div class="bg-info" style="height: 130px">C3</div></div>
            <div class="col-md-2" ><div class="bg-info" style="height: 130px">C4</div></div>
            <div class="col-md-2" ><div class="bg-info" style="height: 130px">C5</div></div>
            <div class="col-md-2" ><div class="bg-info" style="height: 130px">C6</div></div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="js/bootstrap.min.js"></script>
</body>





<%=link_to "Open Order",menu_lists_path%>
 <%= link_to "Close Order", drinking_menu_lists_path%>

 <%= link_to "Edit", edit_users_path%>

 <%= link_to "Welcome", welcomes_welcomes_path%> 

 
 <%= link_to "showuser", registers_path%>






