

<div><%= @restuarant.restuarant_name %> </div>

<h2> Layout Table </h2>


<body>

	<img src="app/assets/images/demo.svg">
	<%= image_tag 'demo.svg' %>

</body>





<%=link_to "Open Order",menu_lists_path%>
 <%= link_to "Close Order", drinking_menu_lists_path%>

 <%= link_to "Edit", edit_users_path%>

 <%= link_to "Welcome", welcomes_welcomes_path%>




