<%= form_for(@table, url: tables_url, method: :post) do |f| %>    
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        เพิ่มโต๊ะ
      </div>
      <div class="modal-body">
          <div class="form-horizontal">
      
            <div class="form-group">
              <label>จำนวนโต๊ะที่ต้องการ</label>
                <div class="col-sm-4">
                  <input type = "number" name="table" min="1" max="10" class="form-control" value="1">  </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="actions">
                  <%= f.submit("ยืนยัน", class: "btn btn-success") %>
                  <%= link_to "กลับ", restuarant_path, class: "btn btn-danger" %>
                </div>
              </div>
            </div>

          </div>       
      </div>

  </div>
</div>    
</div> 
<%end%>
<div class="row">
  <div class="col-sm-4 text-left">
    <h3> ร้าน: <%= @restuarant_show.restuarant_name %> </h3>
     <h3> พนักงาน: <%= current_user.name%> <%= current_user.surname%>  </h3>
    
        
  </div>     


<div class="col-sm-4 text-center">
          <button class="btn btn-primary"  type="button">
           วันที่ <span class="badge"><h5> 15 มิถุนายน 2558</h5></span>
        </button>
</div>

<div class="col-sm-4 text-right">
        <button class="btn btn-primary" type="button">
           พนักงาน <span class="badge"><h5> <%= current_user.name%> <%= current_user.surname%> </h5></span>
        </button>
</div>
</div>
<hr>


  
    <% @table_show.each_with_index do |a, i| %>
      <div class="col-sm-3 text-center">
        <div>
        <button class="btn btn-info" type="button">
           โต๊ะที่ <span class="badge"><%= a.table_number %></span>
        </button>
        </div>
        <p>
        </p>
        <%=link_to( image_tag("icon4.jpg",width:'160' ,height:'160'), menu_list_path(a)) %><br>

        <%= link_to 'ลบข้อมูลโต๊ะ', table_path(a), class: "btn btn-danger" , method: :delete, data: { confirm: 'คุณต้องการลบโต๊ะ?' }  %> 
        <hr>                  
      </div>  
    <%end%> 