<% if @menu != nil%>
<div class="text-center">
รา้น :<%= @menu.first.table.restuarant.restuarant_name %> <br>
พนักงาน :<%= current_user.name %> <br>
โต๊ะที่ :<%= @menu.first.table.table_number%> <br>
วันที่/เวลา :<%= Time.now%>
</div>
<hr>
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Print อาหารคาว<h4></div>
        <div class="panel-body">
          <table class="table table-striped" id="show_datal">
            <thead>
            <tr>
              <th>#</th>
              <th>ชื่ออาหาร</th>
              <th>รายละเอียด</th>
              <th>จำนวน</th>
              <th ></th>
            </tr>
          </thead>
          <tbody>
              <% @menu.each_with_index do |a, i| %>
              <tr>
                <td><%= i + 1 %></td>
                <td><%=a.menu%></td>
                <td><%=a.remark%></td>
                <td><%=a.value%></td>
                <% if a.cancle == true%>
                <td>ยกเลิก</td>
                <%else%>
                <td></td>
                <%end%>
              </tr> 
              <%end%>
              
              </div>  
              </tbody>
          </table>
        </div>
      </div>
    </div>
<%end%>