
    <div class="panel panel-primary">
      <div class="panel-heading"><h4>รายงานการขาย<h4></div>
        <div class="panel-body">
          <table class="table table-striped" id="show_datal">
            <thead>
            <tr class="info">
              <th>billing_number</th>
              <th>วันที่</th>
              <th>พนักงาน</th>
              <th>ชื่ออาหาร</th>
              <th>จำนวน</th>
              <th>ราคา/บาท</th>
              <th>เป็นเงิน(บาท)</th>
              <th>รวม</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
              <% @report.each_with_index do |a, i| %>
              <tr>
                <td><%=a.billing.billing_number %></td>
                <td><%=a.billing.date%></td>
                <td><%=a.billing.user.name%></td>
                <td><%=a.menu%></td>
                <td><%=a.value%></td>
                <td><%=a.menu_price.to_f %></td>
                <td><%=a.menu_price.to_f * a.value %></td>
                <td></td>
                <%= p%>
              </tr> 
              <%end%>
              
              </div>  
              </tbody>
          </table>
        </div>
      </div>
    </div>


    <<!-- input type="hidden"  name="check" value="1">
<div class="row">
<div class="col-sm-6">
<form class="form-horizontal">
<div class="form-gruop">
  <label for="inputEmail3" class="col-sm-2 control-label">เริ่มต้น :</label>
    <div class="col-sm-8">
      <input type="email" class="form-control" id="inputEmail3">
    </div>
    <div class="col-sm-0.1">
        <button type="button" class="btn btn-warning show-datepicker" data-target="#today_date_picked" class= "form-control">
        <span class="fa fa-calendar"></span>
        </button>
    </div>
</div>
<div class="form-gruop" style="padding-top:2%">
  <label for="inputEmail3" class="col-sm-2 control-label">สิ้นสุด :</label>
    <div class="col-sm-8">
      <input type="email" class="form-control" id="inputEmail3">
    </div>
    <div class="col-sm-0.1">
        <button type="button" class="btn btn-warning show-datepicker" data-target="#today_date_picked" class= "form-control">
        <span class="fa fa-calendar"></span>
        </button>
    </div>
</div>
</form>
</div>
<div class="col-sm-2 col-sm-offset-3" >
        <%=link_to( image_tag("export_excel 1.jpg",width:'120' ,height:'120'), index_show_billing_path(format: "csv")) %>
</div>
</div> -->