
<center><h4>สรุปยอดสั่งอาหารและเครื่องดื่ม</h4></center>
<hr>
<p>
  <h4>ร้าน : <%= @billing.table.restuarant.restuarant_name %> </h4>
  <h4>โต๊ะ : <%= @billing.table.table_number %> </h4>                                               
  <h4>ชื่อพนักงาน :  <%= @billing.user.name%> <%= @billing.user.surname%> </h4>
  <h4>วันที่/เวลา : <%= @billing.time %></h4>
</p>
<hr>


    <div class="panel panel-default">
      <div class="panel-heading"><h4>รายการอาหาร<h4></div>
        <div class="panel-body">
          <table class="table table-striped" id="show_datal">
            <thead>
            <tr>
              <th>#</th>
              <th>ชื่ออาหาร</th>
              <th>จำนวน</th>
              <th>ราคา/บาท</th>
              <th>เป็นเงิน(บาท)</th>
            </tr>
          </thead>
          <tbody>
              <% @show_menu.each_with_index do |a, i| %>
              <tr>
                <td><%= i + 1 %></td>
                <td><%=a.menu%></td>
                <td><%=a.value%></td>
                <td><%=a.menu_price.to_f %></td>
                <td><%=a.menu_price.to_f * a.value %></td>
              </tr> 
              <%end%>
              
              </div>  
              </tbody>
          </table>
          <div class = "col-sm-6 col-sm-offset-8">
              รวม <%= @total %> บาท
          </div>
          <div class = "col-sm-6 col-sm-offset-8">
          <% if @promotion_discount.to_i == 100 %>
            ส่วนลด  0%     บาท
          <% else %>  
            ส่วนลด <%= @promotion_discount %> % 
          <%end%>  
          </div>
          <br>
          <div class = "col-sm-6 col-sm-offset-8">
          <% if @promotion_discount.to_i == 100 %>
           รวมสุทธิ <%= @total%>   บาท
          <% else %>  
            รวมสุทธิ <%= @total - @promotion %>  บาท
          <%end%>  
          </div>
        </div>
 <hr>

    