<hr>
<%= link_to "Add Dessert",add_dessert_restuarant_path%>
    <div class="panel panel-primary bigmshoadow" >
        <div class="panel-heading gradient"><h3><i class="fa fa-birthday-cake">&nbsp;</i> ของหวานทั้งหมด</h3>  
      </div>
        <div class="panel-body ">
          <div class="form-horizontal">
      </div>
        <div class="panel-body">
			<table class="table table-striped table-hover table-condensed">
			    <thead>
			      <tr>
			        <th>ลำดับ</th>
			        <th>ชื่อ</th>
			        <th>ราคา/บาท</th>
		        			     
			      </tr>
			    </thead>

			    <tbody>
			      <% @dessert.each_with_index do |f, i| %>
				      <tr>
				        	 		 
			              		<td><%= i + 1 %></td>
						        <td><%= f.dessert_name %></td>
						        <td><%= f.dessert_price %></td>
						        <td><%= link_to 'ลบเมนู',  dessert_path(f), method: :delete, data: { confirm: 'ต้องการจะลบ?' } %><td>   
					        
			          <%end%>
				      </tr>
			  </tbody>
			</table>
  </div>
     	</div>
     	</div>

