<hr>
    <div class="panel panel-primary bigmshoadow" >
        <div class="panel-heading gradient"><h3><i class="fa fa-users"></i> พนักงานทั้งหมด</h3>  
      </div>
        <div class="panel-body ">
          <div class="form-horizontal">
      </div>
        <div class="panel-body">
			<table class="table table-striped table-hover table-condensed">
			    <thead>
			      <tr class="info">
			        
			        <th>ชื่อ</th>
			        <th>นามสกุล</th>
			        <th>อีเมลล์</th>
			        <th>เบอร์โทรศัพท์</th>
			        <th class="text-center">สถานะ</th>
		        			     
			      </tr>
			    </thead>

			    <tbody>
			      <% @users.each_with_index do |f| %>
				      <tr>
				        <%if f.super_user %>	 		 
			              		
						        <td><%= f.name %></td>
						        <td><%= f.surname %></td>
						        <td><%= f.email %></td>
						        <td><%= f.tel %></td>
						        <td><center><font color =red> เจ้าของร้าน </font></center></td>
						        <td></td>

					        <% else%>
						        
						        <td><%= f.name %></td>
						        <td><%= f.surname %></td>
						        <td><%= f.email %></td>
						        <td><%= f.tel %></td>
						        <td><%= link_to 'Delete', showuser_path(f), method: :delete, data: { confirm: 'Are you sure?' } %><td>
						        <td><center><font color =green> พนักงาน </font></center></td>
						        
					       

					        
			          <%end%>

				      </tr>
				   <%end%>
			  </tbody>
			</table>
  </div>
     	</div>
     	</div>

