<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <title>Terebinth-POS</title>
          <%= stylesheet_link_tag    "application" %>
          <%= javascript_include_tag "application" %>
          <%= csrf_meta_tags %>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="css.css">

    </head>
    <body>
        <nav class="navbar navbar-static-top bg-nav">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/restuarants">Terebinth-POS</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    

                    <ul class="nav navbar-nav navbar-right">
                        <% if user_signed_in? %>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ส่วนของเจ้าของร้าน<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                              <li> <a href="/menu_lists"> <i class="fa fa-cutlery">&nbsp;</i> อาหารคาว</a></li>
                              <li> <a href="/menu_lists/drinking"> <i class="fa fa-coffee">&nbsp;</i>เครื่องดื่ม</a></li>
                               <li> <a href="/menu_lists/dessert"> <i class="fa fa-birthday-cake">&nbsp;</i>อาหารหวาน</a></li> 
                            </ul>
                        </li>
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">current.restuarant</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <%= current_user.email%> <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">

                               <li> <a href="/users/edit"> <i class="fa fa-pencil-square-o">&nbsp;</i> แก้ไข </a></li>

                               <!-- Check Super User-->
                            <%if current_user.super_user?%>
                                <li> <a href="/restuarants"> <i class="fa fa-home">&nbsp;</i> โปรไฟล์ร้าน </a></li>
                                <li> <a href="/registers/new"> <i class="fa fa-user-plus">&nbsp;</i> เพิ่มพนักงาน </a>
                                </li>
                                <li> <a href="/showusers/showusers"> <i class="fa fa-users">&nbsp;</i> แสดงพักงานทั้งหมด</a></li>
                            <%end%>

                            <li><%= link_to destroy_user_session_path do %><i class= "  glyphicon glyphicon-log-in"> </i> &nbsp; ออกจากระบบ
                            <%end%>

                        <%end%>


                                
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

            <div class="container">
               <div id="system-flashes">
      <%- [:notice, :info, :warning, :error, :alert].each do |kind| -%>
        <%- next if flash[kind].blank? -%>
        <%
          alert_type = case kind
            when :notice
              'success'
            when :error
              'danger'
            when :info
              'info'
            when :warning
              'warning'
            when :alert
              'warning'
            end
        %>
        <div class="alert alert-dismissable alert-<%= alert_type %> notice fade in">
          <button class="close" data-dismiss="alert" type="button"><span class="glyphicon glyphicon-remove"></span></button>
          <% [flash[kind]].flatten.each do |line| %>
            <div><%= line.html_safe %></div>
          <% end %>
        </div>
      <%- end -%>
    </div>


        <%= yield %>
      </div>

    </body>
</html>
